# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask
instance/

# Database
*.db
*.sqlite

# Environment variables
.env

# Docker
.docker/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/